!!! 5
html
  head
    - var meanings = [ 'Say yes', 'Say yes', 'Assert', 'Assert', 'Say something', 'Say something', 'Speak', 'Speak', 'Assent', 'Assent' ]
    - var greeting = meanings[Math.floor((Math.random() * 10))]
    title AiOIM. #{ greeting }.
    link(rel='stylesheet', type='text/css', href='#{ base }stylesheets/aioim.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lemon|Philosopher:400,700,400italic|Pontano+Sans')
    link(rel='stylesheet', type='text/css', href='#{ base }stylesheets/font-face.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  body
    h1 AiO
    p.name.reason "aio" is Latin and means 
      span.definition say yes, assert, say, speak, or assent
    p.capitalization.backstory AiOIM is capitalized in honor of my favorite video game of all time: 
      a(href='http://en.wikipedia.org/wiki/Nights_into_Dreams...', target='_new') NiGHTS Into Dreams...
    script(src='#{ base }javascript/zepto.min.js')
    script(src='#{ base }javascript/jquery.cookie.js')
    script(src='#{ base }sha1/index.js')
    script(src='https://static.firebase.com/v0/firebase.js')
    script(src='#{ base }javascript/modernizr.js')
    script(src='#{ base }javascript/aioim.js')
